@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
::-webkit-scrollbar {
    display: none;
}
body {
    background-color: #1e1e1e;
    font-family: "Limelight" sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

#banner {
    height: auto;
    width: 100%;
    text-align: center;
    display: block;
}

.top {
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 5px;
    background-color: rgb(43, 17, 68);
    text-transform: uppercase;
    letter-spacing: 2.5px;
    word-spacing: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;}

p {
  font-size: 20px;
}

h1 { 
  font-size: 55px;
}

#imagem-gradiente { 
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
}
